@model string
@{
    Layout = "_Layout.cshtml";
}

<section class="py-4">
    <h1 class="display-4 mb-3">@Response.StatusCode | @RenderSection("ErrorTitle")</h1>
    <p class="lead">@RenderSection("ErrorMessage")</p>
    <hr class="my-4">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group m-3" role="group">
            <a href="@Url.Action("Index", "Home")" class="btn btn-outline-primary text-center">
                <span class="far fa-home" aria-hidden="true"></span> Go To Home Page
            </a>
            @if (IsSectionDefined("ActionButtons"))
            {
                @RenderSection("ActionButtons")
            }
        </div>
        <div class="btn-group m-3" role="group">
            @if (!string.IsNullOrWhiteSpace(Model))
            {
                <a href="@Url.Action("Detail", "ErrorManagement", new {Area = "Administration", id = Model})" class="btn btn-outline-danger text-center">
                    <span class="far fa-bug" style="color: green" aria-hidden="true"></span> See Error Details
                </a>
            }
        </div>
    </div>
</section>